@import "../../App.scss";
.header {
  background: rgb(249, 78, 48);
  background: linear-gradient(
    180deg,
    rgba(249, 78, 48, 1) 0%,
    rgba(255, 100, 51, 1) 100%
  );
  padding: 10px;
  .header-com {
    border-bottom: 1px solid lighten($clr-orange, 10%);
  }
  @media screen and (max-width: 992px) {
    .header-cont {
      flex-direction: column;
      .header-blog {
        margin-bottom: 4px;
      }
    }
  }
  .header-com {
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    color: $clr-white;

    .header-ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .header-span {
      align-items: center;
    }
    .header-ul2 {
      display: flex;
      align-items: center;
    }
    .header-li2 {
      margin-left: 8px;
      margin-right: 8px;
    }
 
    .fab {
      font-size: 18px;
    }
  }
  .header-ul3 {
    display: flex;
    gap: 2vh;
  }
}
